# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
*.pot
*.sqlite3

# Flask
instance/
.webassets-cache

# IDE and Editor
.vscode/
.idea/
*.swp
*.swo
*.sublime-workspace
*.sublime-project


# Virtual environments
.venv/
.venv*/
venv/
venv*/